@{
    ViewData["Title"] = "Home";
}

<body>
    <div class="wrapper">
        <div class="image-container">
            <img class="my-image" src="images/rocknroll.jpg" alt="Picture of me" width="400"/>
        </div>
        <div class="text-center">
            <h1 class="display-4">about alvaro</h1>
                <p>Hi thanks for stopping by! My name is Alvaro Hernandez, based in San Diego, CA. 
                    I have most recently worked for San Diego Gas & Electric as an Associate Software Engineer. 
                    <br/><br/>Prior to my role as a SWE I was a Research Associate for a Commercial Real Estate company based out of Los Angeles. 
                    I am a Marine Corps Veteran where I served as Combat Engineer for four years. Quite the difference to Software Engineering. 
                    <br/><br/>On my free time I enjoy being active, spending time with my dogs, and working on my golf game. 
                    If you would like to chat or grab some coffee you can contact me here.
                </p>
        </div>
    </div>
</body>
