@{
    ViewData["Title"] = "Home";
}

<body>
    <div class="wrapper">        
        <div class="text-container">
            <h1><span class="highlight-name">Alvaro</span><br>Hernandez</h1>
            <h6>Software Developer 💻 | USMC Veteran 🦅</h6>
            <button type="button" onclick="window.location.href='@Url.Action("Contact", "Home")'">GET IN TOUCH</button>
        </div>
        <div class="image-container">
            <img class="my-image" src="images/rocknroll.jpg" alt="Picture of me" width="400"/>
        </div>
    </div>
    <div class="wrapper">        
        <div class="text-container">
            <h1><span class="highlight-name">About</span> Me</h1>
            <p>
                Hi thanks for stopping by! My name is Alvaro Hernandez, based in San Diego, CA.
            </p>
        </div>
    </div>

    <div class="experience-wrapper">
        <h2 class="experience-title">Experience</h2>
        <div class="card mb-3" style="max-width: 900px;">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="images/SDGE.png" alt="SDGE Logo" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">SDG&E | Associate Software Engineer</h5>
                        <p class="card-text"><small class="text-body-secondary">Jun 2023 - May 2025</small></p>
                        <p class="card-text">Insert responsibilities.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 900px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/AIRCRE.jpg" alt="AIR CRE Logo" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">AIR CRE | Research Associate</h5>
                        <p class="card-text"><small class="text-body-secondary">Oct 2018 - Apr 2023</small></p>
                        <p class="card-text">Insert responsibilities.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 900px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/USMC.png" alt="USMC Logo" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">United States Marine Corps | Combat Engineer</h5>
                        <p class="card-text"><small class="text-body-secondary">Nov 2013 - Nov 2017</small></p>
                        <p class="card-text">Insert responsibilities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>